<ion-header>
    <ion-toolbar>
        <ion-title>
            Examenes Médicos
        </ion-title>
    </ion-toolbar>
</ion-header>
<!-- 
<ion-content class="register-container">

    <div class="register-container">
        <div class="register-form">

            <ion-item>
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>

            <ion-button expand="full">Registrarse</ion-button>
        </div>
        <div class="login-link" (click)="goToLoginPage()">Volver al login</div>
    </div>



</ion-content> -->


<ion-content class="register-container">

    <form class="register-container">
        <div class="register-form">



            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>




            <ion-item>

                <ion-label position="floating">Fecha</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="floating">Resultado</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">ID del paciente</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>

            <ion-row>
                <ion-col class="guardar">
                    <ion-button type="submit" expand="block">Guardar</ion-button>
                </ion-col>


                <!-- <ion-col>
                    <ion-button class="r" type="button" expand="block">Register</ion-button>
                </ion-col> -->
            </ion-row>




        </div>

        <ion-row class="verExamenes">
            <ion-col class="examenes">
                <ion-button type="submit" expand="block">Ver Examenes</ion-button>
            </ion-col>

        </ion-row>

        <!-- <div class="login-link" (click)="goToLoginPage()">Volver al login</div> -->

        <div>
            <ion-grid>
                <ion-row>
                    <ion-col>Examen medico</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>Id</ion-col>
                    <ion-col>1</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>Nombre</ion-col>
                    <ion-col>Jean</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>Fecha</ion-col>
                    <ion-col>10/08/2023</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>Resultado</ion-col>
                    <ion-col>Positivo a sida</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>Acciones</ion-col>
                    <ion-col>

                        <ion-icon name="create-outline"></ion-icon>

                        <ion-icon name="trash-outline"></ion-icon>

                    </ion-col>

                </ion-row>
            </ion-grid>
        </div>


    </form>



</ion-content>